<% layout('layouts/boilerplate') %><!--pass as body  thorugh the boilerplate-->

    <div class="row">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <% if (process.env.NODE_ENV !== 'production') { %>
                <p style="overflow-y: scroll"><%= err.stack %></p>
            <% } %>
        </div>
    </div>